<% @junction_records.each do |record| %>
  <ul>
    <li><%= record.id %> - <%= record.score %> - <%= record.first_table_record.teacher_name %> - <%= record.second_table_record.name %></li>
  </ul>
<% end %>